body {
    margin: 0px;
    font-family: sans-serif;
}

.nav-container {
    text-align: center;
    margin: 0;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: #aeaeae;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.537);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

nav a {
    font-size: x-large;
    text-decoration: none;
    padding: 10px;
    background-color: #202020;
    border-radius: 10px;
    color: #cccccc;
}

nav a:hover {
    outline: solid 5px #000000;
    background-color: #000000;
}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    nav a {
        margin: 0;
    }
}
